body{
  font-size: 1vw;
}

#header, #top1, #top2, #top3, #bottom, #bottom1, #bottom2, #divNightVault{
  margin:0;
  padding:0;
}

#top1, #top2, #top3{
  max-width: 30%;
  min-width: 25%;
}
.bordered{
  border-style: double;
  border-color: turquoise;
  border-radius: 1vw;
}
#divHeader{
  margin-bottom: 1vw;
}
#clan{
  max-width: 25vw;
  height: 75%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#bottom1{
  max-width: 30%;
  min-width: 25%; 
}

#bottom2{
  max-width: 65%;
  min-width: 60%;
  
}

.wrap{
  /* Set to wrap based on what will fit at the top. */
  display: flex;
  flex-wrap: wrap;
}

.fit{
  width:fit-content;
}

.midBG{
    background: radial-gradient(#8d8ffe 49%,#0000 50%) calc(32px/-2) calc(32px/2),
    repeating-conic-gradient(from 45deg,#86d9f3 0 25%,#0000 0 50%)
      calc(32px/2) calc(32px/2),
    radial-gradient(#8d8ffe 49%,#0000 50%),radial-gradient(#8d8ffe 49%,#0000 50%) 32px 32px #86d9f3;
background-size: calc(2*32px) calc(2*32px);
}

.darkPolkaBG{
    background:
      radial-gradient(#45166e 49%,#0000 50%) calc(28px/-2) calc(28px/2),
      repeating-conic-gradient(from 45deg,#000000 0 25%,#0000 0 50%)
        calc(28px/2) calc(28px/2),
      radial-gradient(#45166e 49%,#0000 50%),radial-gradient(#45166e 49%,#0000 50%) 28px 28px #000000;
    background-size: calc(2*28px) calc(2*28px);
    /*color: turquoise;*/
}

.darkFencesBG{
    background:
      radial-gradient(27% 29% at right, #0000 83%,#45166e 85% 99%,#0000 101%) calc(28px/2) 28px,
      radial-gradient(27% 29% at left, #0000 83%,#45166e 85% 99%,#0000 101%) calc(28px/-2) 28px,
      radial-gradient(29% 27% at top, #0000 83%,#45166e 85% 99%,#0000 101%) 0 calc(28px/2),
      radial-gradient(29% 27% at bottom, #0000 83%,#45166e 85% 99%,#0000 101%) 0 calc(28px/-2)
      #000000;
    background-size: 56px 56px;
    /*color: turquoise;*/
}

.crystalFG{
    background: rgba(201,41,255,0.2);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(201,41,255,0.1);
    border-radius: 1vw;
    color: #ccc;/* #4ff4e4; */
}
/*
p{
  background: rgba(201,41,255,0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 1vw;
    color: #ccc;
}*/
.darkFencesFG{
    color: turquoise;
    background-color: black;
    border-style:double;
    border-color: turquoise;
    border-radius: 2vw;
}

.flexDaddy{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal{
  display:flex;
  flex-direction: row;
}
.between{
  display:flex;
  justify-content: space-between;
}
.vertical{
  display:flex;
  flex-direction: column;
}
.top{
  display:flex;
  justify-content: start;
}
.around{
  justify-content: space-around;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fill{
  height:100%;
  width: 100%;
}
.vertical_fill{
  height:100%;
}
div{ 
  padding:1vw; 
  margin:1vw;
}

a {
  text-decoration: none;
  color: turquoise;
}

a.glow, a.glow:hover, a.glow:focus
{
	text-decoration: none;
	color: turquoise;
	text-shadow: none;
	-webkit-transition: 300ms linear 0s;
	-moz-transition: 300ms linear 0s;
	-o-transition: 300ms linear 0s;
	transition: 300ms linear 0s;
	outline: 0 none;
}

a.glow:hover, a.glow:focus
{
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

.textshadow a.backlit:hover, .textshadow a.backlit:focus
{
	color: black;
}

p{
    margin:5px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  body{
    font-size: 2.5vw;
  }
  #bottom1, #bottom2{
    width: 45%;
    max-width: 45%;
    min-width: 45%;
  }
}